<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/assets/style.css">
</head>

<body class="{{ page.bodyClass }}">

  <nav class="navbar">
  <div class="navbar-left">
    <span class="site-name">Avinash Tiwari</span>
  </div>
  <div class="navbar">
    <a href="/">Home</a>
    <a href="/about.html">About</a>
    <a href="/assets/CV_Avinash.pdf" target="_blank">CV</a>
    <a href="/publications.html">Publications</a>
  </div>
</nav>

  <main>
    {{ content }}
  </main>

</body>
</html>
